<html>
<head>
<title> The Gossip Project </title>
</head>
<body>
<h1>PAGE POTIN </h1>
<br/>
<% gossips %>
<p> Vous avez demandé la page pour voir le potin n°<%= id %> </p>
<p> Son auteur : <%= gossip.author %> </p>
<p> Le contenu du potin <%= gossip.content %>
<br/>
<p>
 <a href="http://localhost:4567">Lien pour revenir à la page des potins.</a>
</p>
</body>
</html>
