<html>
<head>
<title> The Gossip Project </title>
</head>
<body>
<h1>PAGE POTIN</h1>
<br>
<% gossips %>
<p>Vous avez demandé la page du potin n° <%= id %> </p>
<p>Son auteur : <%= gossip.author %> </p>
<br>
<p>Son contenu : <%= gossip.content %> </p>
<br>
<a href ="http://localhost:4567">Revenir à la page des potins.</a
</body>
</html>
